{% load static %}

{% load widget_tweaks %}

{% load i18n %}

{% load allauth %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static '/images/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static '/images/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static '/images/favicon-16x16.png' %}">
        <link rel="stylesheet" href="{% static 'register/verification.css' %}">
        <title>Google Sign Up</title>
    </head>
<body>
    {% block content %}
        <div id="external-container">
            <div id="internal-container">
                {% blocktrans with provider_name=account.get_provider.name site_name=site.name %}
                    <h1 id="sign-up-main-txt">
                        Sign In Via {{provider_name}}
                    </h1>
                    <div id="descp-container">
                        As a final step, please complete the following form:
                    </div>
                {% endblocktrans %}
                <div id="sign-form-container">
                    {% url 'socialaccount_signup' as action_url %}
                    {% element form form=form method="post" action=action_url %}
                        {% slot body %}
                            {% csrf_token %}
                            <div id="field-container">
                                {% element fields form=form unlabeled=True %}
                                {% endelement %}
                            </div>
                            {% if redirect_field_value %}
                                <input type="hidden"
                                    name="{{ redirect_field_name }}"
                                    value="{{ redirect_field_value }}" />
                            {% endif %}
                        {% endslot %}
                        {% slot actions %}
                            <button type="submit" id="signup-button">
                                Sign Up
                            </button>
                        {% endslot %}
                    {% endelement %}
                </div>
            </div>
        </div>
    {% endblock %}
</body>
</html>