{% extends 'main/S_course/S_course_stream.html' %}

{% load static %}

{% block script %}
    <link href="{% static 'footer-pages/footer-pages.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
    About
{% endblock %}

{% block body %}
    <div class="footer-webpage-container">
        <div class="heading-footer-container">
            About Us
        </div>
        <div class="footer-content-container">
            The education sector is not falling behind as the globe adapts to new technologies. Learning Management Systems (LMS)
            have changed the way students and instructors engage with course materials, making learning more accessible and effective.
            Six people, Deraco, Princess Shaina Claire, Haber, John Mark, Mercado, Erika Mae, Nablo, Romar Kenshin, Raiz,
            John Vincent, and Villanueva, Eunice Patricia, identified this need and created E-skwela, an educational website aimed at
            simplifying the management of course outline and materials.The E-skwela website was created by them, each of whom 
            contributed to distinct areas of the platform. Erika worked on the login and registration sections, while Shaina designed 
            the footer and Haber designed the navbar and homepage. Kensh worked on the calendar and to-do pages, while Raiz worked on 
            the submission page. When it came to the instructor's interface, Shaina built the index page, Haber designed the classwork
            page, Kenshin worked on the persons page, Eunice examined the marks page, and Erika designed the question page. E-skwela 
            is a centralized platform that allows students to track their learning progress and teachers to manage course outlines. 
            Instructors can simply distribute materials, manage student progress, and schedule activities with a user-friendly 
            interface, while students can access their course materials, examine upcoming deadlines, and monitor their progress. The 
            primary purpose of E-skwela is to make knowledge simple to comprehend, to easily evaluate students' progress, and to 
            generate successful learners through direct control of the topics to be discussed.
        </div>
    </div>
{% endblock %}