{% extends 'main/S_course/S_course_stream.html' %}

{% load static %}

{% block script %}
    <link href="{% static 'footer-pages/footer-pages.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
    Goals
{% endblock %}

{% block body %}
    <div class="footer-webpage-container">
        <div class="heading-footer-container">
            Goals
        </div>
        <div class="footer-content-container">
            <ol>
                <li>
                    Enhance Learning Accessibility: E-skwela aims to provide equal access to education 
                    by ensuring that course materials and resources are easily accessible to students from 
                    diverse backgrounds and locations.
                </li>
                <br />
                <li>
                    Streamline Course Management: Our goal is to simplify the management of course outlines 
                    and materials for instructors, allowing them to efficiently distribute resources, track 
                    student progress, and schedule activities through a user-friendly interface.
                </li>
                <br />
                <li>
                    Foster Active Engagement: E-skwela seeks to promote active engagement in the learning 
                    process by offering interactive features such as calendars, to-do lists, and submission 
                    pages, enabling students to stay organized, meet deadlines, and actively participate in 
                    their education.
                </li>
                <br />
                <li>
                    Personalized Learning Experience: We strive to facilitate personalized learning 
                    journeys by providing tools that allow instructors to tailor course content and 
                    assessments to the specific needs and interests of individual students, fostering a 
                    more engaging and effective learning experience.
                </li>
                <br />
                <li>
                    Measure and Evaluate Progress: E-skwela aims to enable instructors to easily assess and
                    evaluate student progress, providing them with insights and data-driven feedback to 
                    support targeted interventions and improve learning outcomes.
                </li>
                <br />
                <li>
                    Facilitate Collaborative Learning: Our goal is to foster a collaborative learning 
                    environment where students can engage with peers, discuss course materials, and 
                    participate in group projects through integrated features such as forums and chat 
                    platforms.
                </li>
                <br />
                <li>
                    Continuous Improvement and Innovation: E-skwela is committed to continuously enhancing 
                    its platform, incorporating feedback from users, and staying up-to-date with the latest 
                    educational technologies and pedagogical practices to ensure a cutting-edge learning 
                    experience.
                </li>
                <br />
                <li>
                    Support Lifelong Learning: We aim to support lifelong learning by offering a platform 
                    that caters to learners of all ages, enabling them to pursue personal and professional 
                    development throughout their lives.
                </li>
                <br />
                <li>
                    Promote Successful Learners: E-skwela seeks to generate successful learners by 
                    empowering both students and instructors, providing the necessary tools, resources, 
                    and support to facilitate effective teaching and active learning.
                </li>
                <br />
                <li>
                    Expand Reach and Impact: Our ultimate goal is to expand the reach and impact of 
                    E-skwela, making it a widely recognized and utilized educational platform globally, 
                    thereby contributing to the advancement of education and the empowerment of learners 
                    worldwide.
                </li>
            </ol>
        </div>
    </div>
{% endblock %}



