{% extends 'main/S_course/S_course_stream.html' %}

{% load static %}

{% block script %}
    <link href="{% static 'footer-pages/footer-pages.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
    Goals
{% endblock %}

{% block navbar %}
    {% if user.is_authenticated %}
        <div class="nav-bar">
            <nav class="navbar navbar-expand-lg"
                style="background-color: #BFDFF1; padding: 15px;">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{% url 'home' %}">
                        <img src="{% static '/images/logo.png' %}" alt="logo" height="60" width="170" style="margin-left: 50px;">
                    </a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0" style="margin-right: 10px;">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'home' %}" style="padding-right: 20px;"><i class="fa-solid fa-inbox"
                                        style="padding: 10px;"></i>Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'todo' %}" style="padding-right: 20px;"><i class="fa-solid fa-file"
                                        style="padding: 10px;"></i>To do</a>
                            </li>
                            <li class="nav-item">
                                <a id="user-id-calendar" class="nav-link {{ user.id }}" href="{% url 'calendar' %}" style="padding-right: 20px;"><i
                                        class="fa-solid fa-calendar-days" style="padding: 10px;"></i>Calendar</a>
                            </li>
                        </ul>

                        {% if user.profile_url %}
                            <img src="{{ user.profile_url }}" class="user-pic" onclick="toggleMenu()">
                        {% elif user.profile_picture %}
                            <img src="{{ user.profile_picture.url }}" class="user-pic" onclick="toggleMenu()">
                        {% else %}
                            <img src="{% static 'images/user-person.png' %}" class="user-pic" onclick="toggleMenu()">
                        {% endif %}

                        <div class="sub-menu-wrap" id="subMenu">
                            <div class="sub-menu">
                                <div class="user-info">
                                    {% if user.profile_url %}
                                        <img src="{{ user.profile_url }}" alt="User Image">
                                    {% else %}
                                        <img src="{% static 'images/user-person.png' %}" alt="User Image">
                                    {% endif %}

                                    {% if user.first_name and user.last_name %}
                                        <h4>{{ user.first_name }} {{ user.last_name }}</h4>
                                    {% else %}
                                        <h4>{{ user.username }}</h4>
                                    {% endif %}
                                </div>
                                <hr>
                                <a href="#" class="sub-menu-link" data-bs-toggle="modal" data-bs-target="#manual-modal">
                                    <img src="{% static 'images/user-image.png' %}">
                                    <p>Edit Profile</p>
                                    <span>></span>
                                </a>
                                <a href="{% url 'account_logout' %}" class="sub-menu-link">
                                    <img src="{% static 'images/logout.png' %}">
                                    <p>Sign Out</p>
                                    <span>></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    {% else %}
        <div class="nav-bar">
            <nav class="navbar navbar-expand-lg"
                style="background-color: #BFDFF1; padding: 15px;">
                <div class="container-fluid">
                        <a class="navbar-brand" href="{% url 'index' %}">
                            <img src="{% static '/images/logo.png' %}" alt="logo" height="60" width="170" style="margin-left: 50px;">
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mb-2 mb-lg-0" style="margin-right: 10px;">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'account_login' %}" style="padding-right: 20px;"><i class="fa-solid fa-inbox"
                                            style="padding: 10px;"></i>Sign In</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'account_signup' %}" style="padding-right: 20px;"><i class="fa-solid fa-file"
                                            style="padding: 10px;"></i>Register</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="footer-webpage-container">
        <div class="heading-footer-container">
            Goals
        </div>
        <div class="footer-content-container">
            <ol>
                <li>
                    Enhance Learning Accessibility: E-skwela aims to provide equal access to education 
                    by ensuring that course materials and resources are easily accessible to students from 
                    diverse backgrounds and locations.
                </li>
                <br />
                <li>
                    Streamline Course Management: Our goal is to simplify the management of course outlines 
                    and materials for instructors, allowing them to efficiently distribute resources, track 
                    student progress, and schedule activities through a user-friendly interface.
                </li>
                <br />
                <li>
                    Foster Active Engagement: E-skwela seeks to promote active engagement in the learning 
                    process by offering interactive features such as calendars, to-do lists, and submission 
                    pages, enabling students to stay organized, meet deadlines, and actively participate in 
                    their education.
                </li>
                <br />
                <li>
                    Personalized Learning Experience: We strive to facilitate personalized learning 
                    journeys by providing tools that allow instructors to tailor course content and 
                    assessments to the specific needs and interests of individual students, fostering a 
                    more engaging and effective learning experience.
                </li>
                <br />
                <li>
                    Measure and Evaluate Progress: E-skwela aims to enable instructors to easily assess and
                    evaluate student progress, providing them with insights and data-driven feedback to 
                    support targeted interventions and improve learning outcomes.
                </li>
                <br />
                <li>
                    Facilitate Collaborative Learning: Our goal is to foster a collaborative learning 
                    environment where students can engage with peers, discuss course materials, and 
                    participate in group projects through integrated features such as forums and chat 
                    platforms.
                </li>
                <br />
                <li>
                    Continuous Improvement and Innovation: E-skwela is committed to continuously enhancing 
                    its platform, incorporating feedback from users, and staying up-to-date with the latest 
                    educational technologies and pedagogical practices to ensure a cutting-edge learning 
                    experience.
                </li>
                <br />
                <li>
                    Support Lifelong Learning: We aim to support lifelong learning by offering a platform 
                    that caters to learners of all ages, enabling them to pursue personal and professional 
                    development throughout their lives.
                </li>
                <br />
                <li>
                    Promote Successful Learners: E-skwela seeks to generate successful learners by 
                    empowering both students and instructors, providing the necessary tools, resources, 
                    and support to facilitate effective teaching and active learning.
                </li>
                <br />
                <li>
                    Expand Reach and Impact: Our ultimate goal is to expand the reach and impact of 
                    E-skwela, making it a widely recognized and utilized educational platform globally, 
                    thereby contributing to the advancement of education and the empowerment of learners 
                    worldwide.
                </li>
            </ol>
        </div>
    </div>
{% endblock %}



