{% extends 'main/S_course/S_course_stream.html' %}


{% load static %}

{% block script %}
    <link href="{% static 'footer-pages/footer-pages.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
    Mission
{% endblock %}

{% block body %}
    <div class="footer-webpage-container">
        <div class="heading-footer-container">
            Mission
        </div>
        <div class="footer-content-container">
            The mission of the E-skwela educational website is to revolutionize the learning experience by 
            providing a centralized platform that empowers students and instructors to effectively engage 
            with course materials and track learning progress. Our goal is to simplify knowledge 
            acquisition, enable easy evaluation of students' progress, and foster successful learners 
            through direct control of the topics to be discussed. By offering a user-friendly interface and 
            seamless management of course outlines, E-skwela aims to enhance accessibility, efficiency, and 
            effectiveness in education. We strive to empower teachers to efficiently distribute materials, 
            manage student progress, and schedule activities, while enabling students to access their course 
            materials, stay informed about upcoming deadlines, and monitor their own progress. Through these 
            efforts, E-skwela is committed to promoting a dynamic and engaging learning environment that 
            leads to the development of knowledgeable and accomplished individuals.
        </div>
    </div>
{% endblock %}