{% extends 'main/S_course/S_course_stream.html' %}

{% load static %}

{% block script %}
    <link href="{% static 'footer-pages/footer-pages.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
    Vision
{% endblock %}

{% block body %}
    <div class="footer-webpage-container">
        <div class="heading-footer-container">
            Vision
        </div>
        <div class="footer-content-container">
            The vision of E-skwela is to become the leading educational website that revolutionizes the 
            way learning is approached and managed worldwide. We envision a future where education is 
            seamlessly integrated with technology, making it accessible to all, regardless of geographical 
            location or socioeconomic background. Our vision is to empower learners of all ages and 
            backgrounds by providing a comprehensive platform that simplifies the management of course 
            materials, fosters active engagement, and promotes personalized learning journeys. Through our 
            innovative tools and user-friendly interface, we aim to create a global community of learners 
            and instructors who collaborate, exchange knowledge, and inspire one another. We envision 
            E-skwela as a catalyst for educational transformation, enabling individuals to reach their 
            full potential, acquire new skills, and adapt to the ever-evolving needs of the digital age. 
            Ultimately, our vision is to create a world where education is not limited by traditional 
            boundaries, but rather, becomes an inclusive and empowering experience that unlocks 
            opportunities and drives lifelong learning.
        </div>
    </div>
{% endblock %}