{% extends "layout.html" %}

{% load static %}

{% load widget_tweaks %}

{% load account socialaccount %}

{% block script %}
  <link href="{% static 'login/login.css' %}" rel="stylesheet">
  <script src="{% static 'login/login.js' %}"></script>
{% endblock %}

{% block title %}
  Login
{% endblock %}

{% block content %}
<div class="login-container">
  <div class="sub-container">
    <div class="main-form">
      <form class="form" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}

        {{ form.non_field_errors | safe }}
        <h2 id="log">LOGIN</h2>

        {{ form.login.errors | safe }}
        <p class="label">Username or Email</p>
        {% render_field form.login name="email" class="box" placeholder="Enter Username or Email" %}
        <!-- <input name="email" class="box" placeholder="Enter Username"> -->
        
        {{ form.password.errors | safe }}
        <p class="label">Password</p>
        {% render_field form.password type="password" name="password" class="box" placeholder="Enter Password" %}
        <!-- <input type="password" name="password" class="box" placeholder="Enter Password"> -->
        
        
        <input type="submit" value="SIGN IN" id="submit">
        <!-- <p class="message1"><a href="{{ account_reset_password }}">Forgot password?</a></p> -->
        <p class="message1">or continue with</p>
        <div class="alt-signin">
          <div class="btn-altsignin"><a href="{% provider_login_url 'google' %}"><img src="{% static '/images/google.png' %}" alt="google" class="google-fb-a-tag"></a></div>
          <div class="btn-altsignin"><a href="{% provider_login_url 'facebook' method='oauth2' %}"><img src="{% static '/images/facebook.png' %}" alt="facebook" class="google-fb-a-tag"></a></div>
          <p class="message2">Don't have an account yet?</p>
          <a href="{% url 'account_signup' %}">Register for free</a>
        </div>
      </form>
    </div>
    <div class="side">
      <img src="{% static '/images/logo.png' %}" alt="logo" class="login-logo-img">
      <h2 class="side-headings">ENJOY</h2>
      <p class="side-small">Appreciate every bit</p><br>
      <h2 class="side-headings">LEARN</h2>
      <p class="side-small">Gain and acquire knowledge</p>
      <img src="{% static '/images/girl.png' %}" alt="girl">
    </div>
  </div>
</div>
{% endblock %}
